.header-config {
	z-index: 99;
}

.header-config, .navbar-brand, .list-options, .add-car-link {
	transition: 0.3s;
}

.nav-link {
	padding: 0;
	font-size: 12px;
	text-decoration: none;
	color: white;
	font-family: Montserrat;
}

.nav-link:hover {
	color: white;
}

.btn-danger {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 12px;
	border-radius: 0;
	background-color: rgb(244, 47, 43);
}

.btn-danger:hover {
	background-color: rgb(195, 38, 34);
}

.no-active {
	border: 0;
}

.active {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: white;
}

.list-options {
	margin-block-end: 0;
	list-style-type: none;
}


/*----- Mobile List Options -----*/
.mobile-list-options, .mobile-list-options a {
	color: rgba(0, 0, 0, 0.45);
	font-size: 14px;
}

.mobile-list-options {
	padding: 0;
	display: none;
}

.mobile-list-options ul {
	text-decoration: none;
	list-style-type: none;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.mobile-list-options .col-xm-2 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, 0.15);
}

.mobile-list-options .row, .mobile-list-options li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.15);
}

.mobile-list-active {
	background-color: rgba(0, 0, 0, 0.05);
}

.mobile-list-active a {
	color: rgba(0, 0, 0, 0.85);
}
/*------------------------------*/



/*----- Responsive Options -----*/

/* Small phone responsive */
@media (max-width: 600px) {
	.mobile-list-options {
		display: block;
	}

	.header-config {
		position: relative !important;
		background-color: #333333 !important;
		transition: all 0.4s;
		padding: 13px !important;
	}

	.config-mobile {
		justify-content: center !important;
	}

	.mobile-menu {
		visibility: visible;
	}

	.mobile-menu a {
		font-size: 1.5rem;
	}

	.nav-item {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.navbar-brand {
		padding: 15px;
		margin: auto;
	}
}

/* Portrait tablet/large phone responsive */
@media (min-width: 600px) {
	.mobile-list-options {
		display: block;
	}

	.header-config {
		position: absolute;
		background-color: rgba(0, 0, 0, .4823529411764706);
	}

	.mobile-menu {
		display: block;
	}

	.mobile-menu a {
		font-size: 1.5rem;
	}

	.nav-item {
		display: none;
	}

	.navbar-brand {
		padding: 0;
	}
}

/* Landscape tablet/large phone responsive */
@media (min-width: 1024px) { 
	.mobile-menu {
		display: none;
	}

	.list-options {
		display: flex;
	}

	.nav-item {
		display: block;
	}

	.header-config {
		padding: 14px 0;
		position: absolute;
		background-color: rgba(0, 0, 0, .4823529411764706);
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar {
		padding-left: 0;
		padding-right: 0;
	}

	.header-col-config-1 {
		padding-left: 0;
	}

	.header-col-config-2 {
		padding-right: 0;
	}
}

/* Desktop/laptop responsive */
@media (min-width: 1200px) {
	.mobile-menu {
		display: none;
	}

	.list-options {
		display: flex;
	}

	.nav-item {
		display: block;
	}

	.header-config {
		padding: 14px 0;
		position: absolute;
		background-color: rgba(0, 0, 0, .4823529411764706);
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar {
		padding-left: 0;
		padding-right: 0;
	}

	.header-col-config-1 {
		padding-left: 0;
	}

	.header-col-config-2 {
		padding-right: 0;
	}
}